<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello world
{% for room in rooms %}
<li>{{ room }}</li>
{% endfor %}

<table>
    {% for position in positions %}

    <tr>
        <td>Akvarium: {{position.substock}}</td>
        <td>{{position}}</td>
    </tr>
    {% endfor %}
</table>

</body>
</html>